[submodule "algo-ds/graphs-cpp-cdb"]
	path = algo-ds/graphs-cpp-cdb
	url = git@github.com:va9abond/graphs-cpp-cdb.git
[submodule "algo-ds/trees-cpp-cdb"]
	path = algo-ds/trees-cpp-cdb
	url = git@github.com:va9abond/trees-cpp-cdb.git
[submodule "ac-som"]
	path = ac-som
	url = git@github.com:va9abond/ac-som.git
[submodule "algo-ds/linked_list-cpp-cdb"]
	path = algo-ds/linked_list-cpp-cdb
	url = git@github.com:va9abond/linked_list-cpp-cdb.git
